<h1>This is the About View</h1>
<p>This will describe the nitty gritties about the applicaiton.</p>
<p>This document describes a prototype of an attendance checker application called “Perfect Attendance”. 
The application is aimed to be used by the room checker of the school of computing and information sciences in Saint Louis University,
it will also be developed mainly using front-end web technologies including but not limited to AJAX, Local Storage, and Application Cache. 
</p>
<p>
The application is mainly used to mark the absences of instructors in the silang building. 
It would also featurebeing able to make notes for specific rooms, having tallied all available and 
non-available rooms in the silang building.Perfect Attendance will be able to retrieve schedules 
from a server or from a local file uploaded to the application through a file picker. 
Perfect Attendance will also be able to sync data from the server.
</p>
